@font-face {
  font-family: "iconfont"; /* Project id 2969814 */
  src: url('iconfont.woff2?t=1669170982322') format('woff2'),
       url('iconfont.woff?t=1669170982322') format('woff'),
       url('iconfont.ttf?t=1669170982322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
  content: "\e64f";
}

.icon-dark:before {
  content: "\e627";
}

.icon-liulan:before {
  content: "\e7d0";
}

.icon-pinglun1:before {
  content: "\e607";
}

.icon-fenlei-copy:before {
  content: "\e64e";
}

.icon-biaoqian:before {
  content: "\e67e";
}

.icon-biaoqian-:before {
  content: "\e605";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fenlei:before {
  content: "\e6ef";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-qingchu:before {
  content: "\e64d";
}

.icon-morentouxiang:before {
  content: "\e604";
}

.icon-qingkong:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e6a7";
}

.icon-fengye:before {
  content: "\e64c";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-fanhui:before {
  content: "\e67a";
}

.icon-github:before {
  content: "\e885";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-fanhuidingbu:before {
  content: "\e633";
}

.icon-caidan:before {
  content: "\eaf1";
}

